{{#each data}}
  <tr class="{{positionClass}}">
    <td>{{name}}</td>
    <td>{{position}}</td>
    <td>{{etrRank}}</td>
    <td>{{yahooRank}}</td>
    <td>{{rankDiff}}</td>
    <td>{{udAdp}}</td>
    <td>{{yahooAdp}}</td>
    <td>{{adpDiff}}</td>
  </tr>
{{/each}}