<tr class="{{#if selected}}selected{{else}}{{positionClass}}{{/if}}">
  <td>{{name}}</td>
  <td>{{position}}</td>
  <td class="{{etrRankClass}}">{{etrRank}} ({{etrRankVsPick}})</td>
  <td class="{{yahooRankClass}}">{{yahooRank}} ({{yahooRankVsPick}})</td>
  <td>{{rankDiff}}</td>
  <td class="{{udAdpClass}}">{{udAdp}} ({{udAdpVsPick}})</td>
  <td class="{{yahooAdpClass}}">{{yahooAdp}} ({{yahooAdpVsPick}})</td>
  <td>{{adpDiff}}</td>
</tr>