<tr class="{{#if selected}}selected{{else}}{{positionClass}}{{/if}}">
  <td>{{name}}</td>
  <td>{{position}}</td>
  <td class="{{etrRankClass}}">{{etrRank}} ({{etrRankVsPick}})</td>
  <td class="{{yahooRankClass}}">{{yahooRank}} ({{yahooRankVsPick}})</td>
  <td>{{rankDiff}}</td>
  <td class="{{udAdpClass}}">{{#if udAdp}}{{udAdp}} ({{udAdpVsPick}}){{/if}}</td>
  <td class="{{yahooAdpClass}}">{{#if yahooAdp}}{{yahooAdp}} ({{yahooAdpVsPick}}){{/if}}</td>
  <td>{{#if udAdp}}{{adpDiff}}{{/if}}</td>
</tr>